<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/css/chart/chart.css}" type="text/css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <title>Document</title>
</head>
<body>
<h2>그래프</h2>
<!-- 그래프 영역 -->
<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Test Chart
    </p>
</figure>


<script>

let chart; // global
/**
 * Request data from the server, add it to the graph and set a timeout to request again
 */
//var i=0;
var point;
let datas=[];
let pids=[];
let chartDatas=[];
let coupleData=[];
async function requestData() {
    //const result = await fetch('https://demo-live-data.highcharts.com/time-rows.json'); // api data
    const result = await fetch('/apiChartData'); // get api data
    if (result.ok) {
        //const data = await result.json();
        const data = await result.json();
        console.log("data="+JSON.stringify(data));
        console.log("data.data="+JSON.stringify(data.data));
        console.log("data.data[0]="+JSON.stringify(data.data[0]));
        //console.log("data.data['data']="+JSON.stringify(data.data['data']));

        data.data.forEach((data)=>{
            var cplChart=[];
            datas.push(data.data);
            pids.push(data.pid);
            cplChart.push(data.pid); // cplChart 1: pid
            cplChart.push(data.data); // cplChart 2: data
            //console.log("forEach inner cplChart[]='"+cplChart);
            coupleData.push(cplChart); // cplChart 의 한쌍
        });
        console.log("datas[]='"+datas);
        console.log("pids[]='"+pids);
        console.log("coupleData[]='"+coupleData);
        console.log("coupleData[0]='"+coupleData[0]);// coupleData[0]='1222,73'

        console.log("coupleData[0][0]='"+coupleData[0][0]);// coupleData[0][0]='1222'
        console.log("coupleData[0][1]='"+coupleData[0][1]);// coupleData[0][1]='73'
        console.log("chartDatas[]='"+chartDatas);

        console.log("length="+datas.length+","+pids.length);
        /*let strDatas = datas.join(",");
        let strPids = pids.join(",");
        console.log("strDatas='"+strDatas);
        console.log("strPids[]='"+strPids);
        */

        // console.log("data.data="+data.data);

        // //const [date, value] = data.data;
        // const [pid, data1] = data.data;
        /*
        const value = data.data[i]; // 첫번째 데이터 {pid, data}
        console.log("value="+JSON.stringify(value));
        console.log("value['pid']="+JSON.stringify(value['pid']));
        console.log("value['data']="+JSON.stringify(value['data']));
        //const point = [Date.now(), value['data'] * 10];
        */

        /*const point = [Date.now(), value['data']];
        console.log("point="+JSON.stringify(point));
        */
        /*const series = chart.series[0],
            shift = series.data.length > 100; // shift if the series is longer than 20
        console.log("series="+series);
        // add the point
        chart.series[0].addPoint(point, true, shift);*/

        // call it again after one second
        //--------------------------------------------------------

        //--------------------------------------------------------
        //i++;
        //console.log("@@ i="+i);
        //if(i>=data.data.length){return false}
        //setTimeout(requestData, 1); // 1000: 매 1초마다 요청
    }
}

window.addEventListener('load', function () {
    requestData();
    var pointInterval=Date.now();
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container'
        },
        series: [{
            data: [chartDatas],
    pointStart: 0,
        pointInterval
}]
});
    /*chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            defaultSeriesType: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: 'Live random data'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Value',
                margin: 80
            }
        },
        series: [{
            name: 'Random data',
            data: []
        }]
    });*/

});


</script>
</body>
</html>